@use "sass:color";
@use "../partials/variables" as *;

.btn {
  padding: .7rem 1.7rem;
  font-family: inherit;
  font-size: inherit;
  color: white;
  background: $primary-color;
  border: 2px solid transparent;
  outline: 1.5px solid transparent;
  border-radius: 4px;
  transition: all .4s;

  &:hover {
    cursor: pointer;
    border-color: $primary-color;
    outline-color: $primary-color;
    transform: translateY(-4px);
    box-shadow: 0px 10px 20px color.adjust($primary-color, $lightness: 15%);
  }
}

.btn--outline {
  background: transparent;
  color: $primary-color;
  border-color: $primary-color;
  outline-offset: 0px;

  &:hover {
    color: color.adjust(
      $primary-color,
      $lightness: -10%,
      $saturation: -10%
    );
    outline-color: transparent;
  }
}

.btn--rounded {
  border-radius: 200px;
  padding: 1rem .8rem;
}

.btn--round {
    $size: 4rem;
    padding: .5rem;
    margin-left: .6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $size;
    height: $size;
    font-size: 3rem;
    color: white;
    background: $primary-color;
    border-radius: 50%;
    transition: all .4s;

    &:hover {
      color: $primary-color;
      transform: translateY(0px);
      box-shadow: none;
      background: white;
      cursor: pointer;
    }
}

.btn--pastel {
  background: $color-red-pastel;
  color: black;

  &.active-filter {
    background: transparent;
    border-color: $primary-color;
    outline-color: $primary-color;
  }
}

.btn--gradient {
  background: linear-gradient(to right, $primary-color, $secondary-color);
}

.btn--gray {
  background: gray;

  &:hover {
    border-color: gray;
    outline-color: gray;
  }
}