@use "../partials/variables" as *;

.category-popup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  // position: absolute;
  // bottom: 100%;
  // left: 50%;
  z-index: 10;
  margin: 1rem;
  background: white;
  // border: 1px solid $primary-color;
  box-shadow: 0 0 20px 2px $primary-color;
  border-radius: 4px;
  transform: translateX(-50%);
}