@use "../partials/variables" as *;

.dialog {
  border: none;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  overflow: visible;

  &::backdrop {
    background: $primary-color;
    opacity: 60%;
  }

  &__heading {
    margin-top: 0;
    font-size: 2rem;
  }

  &__form-inputs {
    display: flex;
    margin-bottom: 2rem;
    gap: 1rem;
  }

  &__todo-input {
    width: 100%;
    border: 1px solid $primary-color;
    border-radius: 4px;
    padding: 1rem;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }

  &__cancel-btn {
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: center;
    opacity: .5;
    transition: all .4s, transform 1s;

    &:hover {
      transform: rotate(360deg);
      opacity: 1;
    }

    .icon {
      color: $primary-color;
      font-size: 2.5rem;
    }
  }

  &__edit-category-btn {
    position: relative;
  }
}