@use "sass:color";
@use "../partials/variables" as *;

.todos-container {
  padding: 1rem 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: .5rem;
}

.todo {
  $color: $color-red;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  padding-right: 1.5rem;
  background: $color;
  color: white;
  border-radius: 100vw;
  outline: 1px solid transparent;
  outline-offset: 2px;
  cursor: pointer;
  transition: all .4s;

  &.completed {
    opacity: .5;
  }

  &:hover {
    outline-color: $color-red;
  }

  &__icon {
    $size: 4rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $size;
    height: $size;
    font-size: 3rem;
    color: $color;
    background: white;
    border-radius: 50%;
  }

  &__info {
    flex: 1;
  }

  &__due-date {
    margin-top: .5rem;
  }
}

.todo__checkbox {
  position: relative;
  display: inline-block;
  height: 2.4rem;
  width: 2.4rem;
  outline: 2px solid transparent;
  transition: all .4s;
  border-radius: 4px;

  &:hover {
    outline-color: color.adjust(
      $primary-color,
      $lightness: -10%,
      $saturation: -20%
    );
  }

  input {
    opacity: 0;
    width: 0;
    height: 0;
    
    &:checked ~ .checkmark {
      background-color: white;
    }

    &:checked ~ .checkmark .check-icon {
      display: block;
    }
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .check-icon {
    display: none;
    color: $color-red;
    font-size: 1.4rem;
    width: auto;
    height: auto;
  }
}

.new-todo {
  position: relative;
  margin: 0rem 2rem 2rem;

  &__form {
    display: flex;
    align-items: center;
    border-radius: 200px;
    border: 2px solid $primary-color;
    overflow: hidden;
    gap: .5rem;

    &:has(input:focus) {
      outline: 2px solid $primary-color;
    }
  }

  &__icon {
    $size: 4rem;
    padding: .5rem;
    margin-left: .6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $size;
    height: $size;
    font-size: 3rem;
    color: white;
    background: $primary-color;
    border-radius: 50%;
    transition: all .4s;

    &:hover {
      color: $primary-color;
      background: white;
      cursor: pointer;
    }
  }

  &__input {
    height: 100%;
    width: 100%;
    padding: 1.5rem;
    border: none;

    &:focus {
      outline: none;
    }
  }

  &__add-btn, &__dueby-btn {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    transition: all .4s;
  }

  &__add-btn {
    font-size: 4rem;
    color: $secondary-color;
    margin-right: .6rem;

    &:hover {
      color: $primary-color;
    }
  }

  &__dueby-btn {
    font-size: 3.2rem;
    color: #B5B5B5;

    &:hover {
      color: #8e8e8e;
    }

    &.has-value {
    color: $primary-color;
    }
  }
}

.hidden-input {
  position: absolute;
  left: -9999px;
}

.flatpickr-clear {
  float: right;
  background: #f44336;
  color: white;
  border: none;
  padding: .5rem 1rem;
  cursor: pointer;
  margin: 1rem;
}