$primary-color:   #FF7486;
$secondary-color: #FF8F42;

$color-orange: #ff8f5b;
$color-red:   #FF7287;
$color-red-pastel:   #FFD8D8;
$color-green: #40BA7F;
$color-cyan:  #5ebdb2;
$color-blue:  #5FB1EC;
$color-purple:  #b979c6;
$color-gray:  #999593;