@use "../partials/variables" as *;

.todolist-page {
  position: relative;

  .settings-btn {
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    padding: 0;
    background: none;
    color: $primary-color;
    cursor: pointer;
    transform-origin: center;
    transition: transform 2s;

    &:hover {
      transform: rotate(360deg);
    }
  }
}

.menu-popup {
  display: flex;
  flex-direction: column;
  margin: .5rem 0;

  &__item {
    padding: .5rem 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    border-radius: 4px;
    transition: all .4s;

    &:hover {
      background: $color-red-pastel;
    }
  }

  &__item-icon {
    font-size: 2rem;
  }
}

.hidden-input {
  position: absolute;
  left: -9999px;
}

.flatpickr-calendar {
  width: 100%;
  max-width: 320px;
  z-index: 9999;
}

.flatpickr-clear {
  float: right;
  background: #f44336;
  color: white;
  border: none;
  padding: .5rem 1rem;
  cursor: pointer;
  margin: 1rem;
}