.todolist-page {
  position: relative;

  .settings-btn {
    font-size: 3rem;
    padding: 0;
    background: none;
    color: black;
    cursor: pointer;
  }
}

.settings-container {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: inline-block;
}

.settings-menu {
  display: none;
  position: absolute;
  right: 0;
  z-index: 1;
  width: 15rem;
  background-color: white;
  outline: 1px solid gray;
  border-radius: 4px;
  overflow: hidden;

  &.show {
    display: block;
  }

  &__item {
    padding: .8rem 1rem;
    color: black;
    text-align: left;
    border-radius: 0;
    border: none;
    background: none;
    width: 100%;
    cursor: pointer;

    &:hover {
      background-color: #f1f1f1;
    }
  }
}